span.number {
    width: 12px;
    height: 12px;
    background-color: #e9e0cf;
    border-radius: 50px;
}
a .span-animate {
    width: 12px;
    height: 12px;
    background-color: #243256;
    border-radius: 50px;
}
div.number {
    border: 1px solid #e9e0cf !important;
    background-color: #e9e0cf !important;
    width: 60px;
    margin-left: 10px !important;
}
a .div-animate {
    border: 1px solid #243256 !important;
    background-color: #243256 !important;
    width: 60px;
    margin-left: 10px !important;
}

.steps {
    width: fit-content;
    height: fit-content;
    justify-content: space-between !important;
    position: absolute !important;
    bottom: 462px;
    right: 70px;
}

label {
    width: inherit !important;
    text-align: left !important;
}
.content {
    position: relative !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end !important;
    justify-content: flex-end !important;
}
.steps ul {
    width: inherit;
    height: inherit;
}
a.row {
    align-items: center !important;
    margin-right: 25px !important;
}
.image-holder {
    height: inherit !important;
}
.wrapper {
    padding: 14vw !important;
}
@media only screen and (max-width: 770px) {
    .wrapper {
        padding: 0vw !important;
    }  
}
.buttons {
    position: relative;
    align-items: center !important;
}
.btn-outline-primary{
    margin-right: 20px;
}
.btn-outline-primary:hover {
    background-color: #40798c;
    border: 1px solid #40798c;
}
.btn-cover {
    position: absolute !important;
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
    bottom: 50px;
    right: 70px;
}
.btn-login-cover {
    margin-top: 70px;
    background-color: red;
    justify-content: flex-end !important;
    align-items: flex-end !important;
}
