.feather {
    width: 34px !important;
    height: 34px !important;
}
.nav-items {
    display: flex;
    justify-content: center;
    align-items: center !important;
}
a.navbar-brand {
    width: 150px !important;
    height: inherit;
}
a.navbar-brand img {
    width: inherit !important;
    height: inherit !important;
}

/*---------------------
TRIP
----------------------*/

.layout-spacing {
    padding: 0px 0px !important;
    
}
div.form-group.col-md-12 {
    display: flex !important;
    flex-wrap: nowrap !important;
    width: 500px !important;
}
label {
    color: #3B3F5C !important;
}